In [292]:
from Bio import Entrez
import sqlite3
from Bio import SeqIO

# Create gene table

In [293]:
conn = sqlite3.connect('my.db')
c = conn.cursor()

#Gene table
c.execute("""CREATE TABLE genes (id INT PRIMARY KEY ASC, 
                                name TEXT, 
                                description TEXT, 
                                chromosome TEXT, 
                                start INT, 
                                end INT,
                                strand VARCHAR(1))""")

OperationalError: table genes already exists

# Insert into gene table:

## Hexokinase gene; glycolysis in human, Drosophila and E.coli

In [ ]:
#Human
c.execute("""INSERT INTO genes (id,
                                name,
                                description,
                                chromosome,
                                start,
                                end) 
                        VALUES(3098,
                        'Homo sapiens hexokinase 1 (HK1), transcript variant 9',
                        'Convert glucose to Glucose-6-Phosphate in glycolysis',
                        'chr10',
                        '102',
                        '2759');""")

conn.commit
c.execute("SELECT * from genes;")



#Drosophila melanogaster
c.execute("""INSERT INTO genes (id,
                                name,
                                description,
                                chromosome,
                                start,
                                end) 
                        VALUES('45875',
                        'Drosophila melanogaster hexokinase A, transcript variant A (Hex-A)',
                        'Convert glucose to Glucose-6-Phosphate in glycolysis',
                        'chr x',
                        '824',
                        '2170');""")
conn.commit
c.execute("SELECT * from genes;")


#E. coli
c.execute("""INSERT INTO genes (id,
                                name,
                                description,
                                chromosome) 
                        VALUES('946858',
                        'Escherichia coli (strain K12) Glucokinase',
                        'Facilitates phosphorylation of glucose to glucose-6-phosphate',
                        '-');""")

## Phosphofructokinase gene; glycolysis in human, Drosophila and E.coli

In [ ]:
#human
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome,
       start,
       end)
VALUES('5213',
'Human phosphofructokinase (PFK)',
'Convert Fructose-6-phosphate to Fructose-1,6-bisphosphate',
'chr11',
1,
905);""")


#Drosophila melanogaster
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome,
       start,
       end)
VALUES('36060',
'Drosophila melanogaster phosphofructokinase, transcript variant E(Pfk)',
'Convert Fructose-6-phosphate to Fructose-1,6-bisphosphate',
'chr2R',
103,
2871);""")

conn.commit
c.execute("SELECT * from genes;")


#E. coli
c.execute("""INSERT INTO genes (id,
       name,
       description)
VALUES('946676',
'1-phosphofructokinase',
'Convert Fructose 6-phosphate to Fructose-1,6-bisphosphate');""")

## Enolase gene; glycolysis in human, Drosophila and E.coli

In [ ]:
#human
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome,
       start,
       end)
VALUES('X66610',
'Homo sapiens enolase',
'Convert 2-phosphoglycerate (2-PG) to phosphoenolpyruvate (PEP)',
'chr17',
40,
146);""")

conn.commit
c.execute("SELECT * from genes;")

#Drosophila melanogaster
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome,
       start,
       end)
VALUES('NM_001169382',
'Drosophila melanogaster enolase, transcript variant F (Eno)',
'Convert 2-phosphoglycerate (2-PG) to phosphoenolpyruvate (PEP)',
'chr2L',
979,
2280);""")

conn.commit
c.execute("SELECT * from genes;")


#E.coli
c.execute("""INSERT INTO genes (id,
       name,
       description)
VALUES('945032',
'Escherichia coli Enolase',
'Catalyzes the reversible conversion of 2-phosphoglycerate into phosphoenolpyruvate');""")

conn.commit
c.execute("SELECT * from genes;")

print(c.fetchone())
print(c.fetchone())
print(c.fetchone())

## Pyruvate kinase gene; glycolysis in human, Drosophila and E.coli

In [ ]:
#Human
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome,
       start,
       end)
VALUES('5315',
'Homo sapiens gene for pyruvate kinase L',
'Convert phosphoenolpyruvate to adenosine diphosphate,',
'chr1',
517,
3688);""")

conn.commit
c.execute("SELECT * from genes;")

#Drosophila melanogaster
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome,
       start,
       end)
VALUES('42620',
'Drosophila melanogaster pyruvate kinase, transcript variant A(PyK)',
'Convert phosphoenolpyruvate to adenosine diphosphate,',
'chr3R',
343,
1844);""")

conn.commit
c.execute("SELECT * from genes;")

#E.coli
c.execute("""INSERT INTO genes (id,
       name,
       description)
VALUES('946179',
'E. coli Pyruvate kinase I gene(pykF)',
'Synthesizes pyruvate from D-glyceraldehyde 3-phosphate');""")

conn.commit
c.execute("SELECT * from genes;")

print(c.fetchone())
print(c.fetchone())
print(c.fetchone())

## Aconitase gene; TCA in human, Drosophila and E.coli

In [ ]:
#Human
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome,
       start,
       end)
VALUES('50',
'Homo sapiens chromosome 22 aconitase (ACO2)',
'Convert citrate to isocitrate',
'chr22',
274,
8410);""")

conn.commit
c.execute("SELECT * from genes;")

#Drosophila melanogaster
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome,
       start,
       end)
VALUES('44149',
'Drosophila melanogaster aconitase, transcript variant F (Acon)',
'Convert citrate to isocitrate',
'chr2L',
203,
2566);""")

conn.commit
c.execute("SELECT * from genes;")

#E. coli
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome)
VALUES('944864',
'Escherichia coli (strain K12) Aconitate hydratase B',
'Catalyzes the reversible isomerization of citrate to isocitrate via cis-aconitate',
'-');""")
conn.commit
c.execute("SELECT * from genes;")

print(c.fetchone())
print(c.fetchone())
print(c.fetchone())

## Malate Dehydrogenase gene; TCA in human, Drosophila and E.coli

In [ ]:
#Human
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome)
VALUES('4190',
'Homo sapiens malate dehydrogenase 1 (MDH1)',
'Catalyzes the reversible oxidation of malate to oxaloacetate',
'chr2');""")

conn.commit
c.execute("SELECT * from genes;")

#Drosophila melanogaster
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome)
VALUES('34414',
'Drosophila melanogaster malate dehydrogenase 1, transcript variant B (Mdh1)',
'Catalyzes the reversible oxidation of malate to oxaloacetate',
'chr2L');""")

conn.commit
c.execute("SELECT * from genes;")

#E. coli
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome)
VALUES('947854',
'Escherichia coli (strain K12) Malate dehydrogenase(mdh)',
'Catalyzes the reversible oxidation of malate to oxaloacetate',
'-');""")

conn.commit
c.execute("SELECT * from genes;")

print(c.fetchone())
print(c.fetchone())
print(c.fetchone())

## Isocitrate dehydrogenase gene; TCA in human, Drosophila and E.coli

In [ ]:
#human
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome,
       start,
       end)
VALUES('3417',
'Human IDH1 isocitrate dehydrogenase (NADP(+)) 1',
'catalyzes the oxidative decarboxylation of isocitrate',
44,
1303,
'-');""")

conn.commit
c.execute("SELECT * from genes;")

#Drosophila melanogaster 
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome,
       start,
       end)
VALUES('44291',
'Drosophila melanogaster isocitrate dehydrogenase, transcript variant K (Idh)',
'catalyzes the oxidative decarboxylation of isocitrate',
284,
1723,
'3L');""")

conn.commit
c.execute("SELECT * from genes;")

#E.coli
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome)
VALUES('945702',
'Escherichia coli (strain K12) Isocitrate dehydrogenase [NADP] (icd)',
'catalyzes the oxidative decarboxylation of isocitrate',
'-');""")

conn.commit
c.execute("SELECT * from genes;")

print(c.fetchone())
print(c.fetchone())
print(c.fetchone())

## Pyruvate carboxylase gene; TCA in human, Drosophila and E.coli

In [ ]:
#Human
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome,
       start,
       end)
VALUES('5091',
'Homo sapiens pyruvate carboxylase(PC)',
'carboxylation of pyruvate to form oxaloacetate',
'chr11',
84,
3620);""")

conn.commit
c.execute("SELECT * from genes;")
print(c.fetchone())

#Drosophila melanogaster
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome,
       start,
       end)
VALUES('36020',
'Drosophila melanogaster pyruvate carboxylase, transcript variant M(PCB)',
'carboxylation of pyruvate to form oxaloacetate',
'2R',
347,
3940);""")

conn.commit
c.execute("SELECT * from genes;")
print(c.fetchone())

#E.coli
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome)
VALUES('948457',
'Escherichia coli (strain K12) Phosphoenolpyruvate carboxylase(ppc)',
'Forms oxaloacetate, a four-carbon dicarboxylic acid source for the tricarboxylic acid cycle',
'-');""")

conn.commit
c.execute("SELECT * from genes;")
print(c.fetchone())

## G6-P Dehydrogenase gene; Pentose phosphate pathway in human, Drosophila and E.coli

In [ ]:
#human
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome,
       start,
       end)
VALUES('2539',
'Homo sapiens glucose-6-phosphate dehydrogenase (G6PD)',
'Convert Glucose-6-Phosphate to 6-phosphogluconate',
822,
3824,
'-');""")

conn.commit
c.execute("SELECT * from genes;")
print(c.fetchone())

#Drosophila melanogaster
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome,
       start,
       end)
VALUES('40445',
'Drosophila melanogaster glucose-6-phosphate dehydrogenase (G6PD)',
'Convert Glucose-6-Phosphate to 6-phosphogluconate',
'chr X',
438,
2756);""")

conn.commit
c.execute("SELECT * from genes;")
print(c.fetchone())

#E.coli
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome)
VALUES('946370',
'Escherichia coli (strain K12) Glucose-6-phosphate 1-dehydrogenase(zwf)',
'Convert Glucose-6-Phosphate to 6-phosphogluconate',
'-');""")

conn.commit
c.execute("SELECT * from genes;")
print(c.fetchone())

## Phosphoglucomutase gene; Pentose phosphate pathway in human, Drosophila and E.coli

In [ ]:
#human
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome,
       start,
       end)
VALUES('5236',
'Human phosphoglucomutase 1 (PGM1)',
'Facilitates the interconversion of glucose 1-phosphate and glucose 6-phosphate',
'chr1',
63,
1751);""")

c.execute("SELECT * from genes;")
print(c.fetchone())

#Drosophila melanogaster
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome,
       start,
       end)
VALUES('44010',
'Drosophila melanogaster phosphoglucomutase (Pgm)',
'Facilitates the interconversion of glucose 1-phosphate and glucose 6-phosphate',
'chr3L',
28,
1710);""")

c.execute("SELECT * from genes;")
print(c.fetchone())

#E.coli
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome)
VALUES('945271',
'Escherichia coli (strain K12) phosphoglucomutase (Pgm)',
'Facilitates the interconversion of glucose 1-phosphate and glucose 6-phosphate',
'-');""")

c.execute("SELECT * from genes;")
print(c.fetchone())

## Transaldolase gene; Pentose phosphate pathway in human, Drosophila and E.coli

In [ ]:
#human
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome)
VALUES('6888',
'Homo sapiens transaldolase 1 (TALDO1)',
'Links the pentose phosphate pathway to glycolysis',
'chr11');""")

conn.commit
c.execute("SELECT * from genes;")
print(c.fetchone())

#Drosophila melanogaster
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome,
       start,
       end)
VALUES('37804',
'Drosophila melanogaster transaldolase (Taldo)',
'Links the pentose phosphate pathway to glycolysis',
'chr2R',
21,
1016);""")

conn.commit
c.execute("SELECT * from genes;")
print(c.fetchone())

#E. coli
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome)
VALUES('947006',
'Escherichia coli (strain K12) Transaldolase A',
'Links the pentose phosphate pathway to glycolysis',
'-');""")

## Ribose 5-phosphate isomerase gene; Pentose phosphate pathway in human, Drosophila and E.coli

In [ ]:
#Human
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome,
       start,
       end)
VALUES('22934',
'Homo sapiens ribose 5-phosphate isomerase (RPI)',
'Catalyzes the reversible conversion between ribose-5-phosphate and ribulose-5-phosphate',
'chr2',
42,
977);""")

#Drosophila melanogaster 
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome,
       start,
       end)
VALUES('246599',
'Drosophila melanogaster Ribose-5-phosphate isomerase (Rpi)',
'Catalyzes the reversible conversion between ribose-5-phosphate and ribulose-5-phosphate',
'chr2',
72,
897);""")


#E.coli
c.execute("""INSERT INTO genes (id,
       name,
       description,
       chromosome)
VALUES('948602',
'Escherichia coli (strain K12) Ribose-5-phosphate isomerase B',
'Catalyzes the reversible conversion between ribose-5-phosphate and ribulose-5-phosphate',
'-');""")

In [ ]:
pip install beautifultable
from beautifultable import BeautifulTable
table.column_headers = ["id","name", "description", "chromosome","start","end"]
table.append_row(["3098",
                  'Homo sapiens hexokinase 1 (HK1), transcript variant 9',
                  'Convert glucose to Glucose-6-Phosphate in glycolysis',
                  'chr10',
                  '102',
                  '2759'])
table.append_row(["45875",
                  'Drosophila melanogaster hexokinase A, transcript variant A (Hex-A)',
                  'Convert glucose to Glucose-6-Phosphate in glycolysis',
                  'chr x',
                  '824',
                  '2170'])
table.append_row(["946858",
                  'Escherichia coli (strain K12) Glucokinase',
                  'Facilitates phosphorylation of glucose to glucose-6-phosphate',
                  '-'])
print(table)


#E. coli
c.execute("""INSERT INTO genes (id,
                                name,
                                description,
                                chromosome) 
                        VALUES('946858',
                        'Escherichia coli (strain K12) Glucokinase',
                        'Facilitates phosphorylation of glucose to glucose-6-phosphate',
                        '-');""")

In [ ]:
conn.commit
c.execute("SELECT * from genes;")

print('Hexokinase gene')
print(c.fetchone())
print(c.fetchone())
print(c.fetchone())
print("")

print('Ribose 5-phosphate isomerase gene')
print(c.fetchone())
print(c.fetchone())
print(c.fetchone())
print("")

print('Phosphofructokinase gene')
print(c.fetchone())
print(c.fetchone())
print(c.fetchone())

print('Enolase gene')
print(c.fetchone())
print(c.fetchone())
print(c.fetchone())
print("")

print('Pyruvate kinase gene')
print(c.fetchone())
print(c.fetchone())
print(c.fetchone())
print("")

print('Aconitase gene')
print(c.fetchone())
print(c.fetchone())
print(c.fetchone())
print("")

print('Malate Dehydrogenase gene')
print(c.fetchone())
print(c.fetchone())
print(c.fetchone())
print("")

print('Isocitrate dehydrogenase gene')
print(c.fetchone())
print(c.fetchone())
print(c.fetchone())
print("")

print('Pyruvate carboxylase gene')
print(c.fetchone())
print(c.fetchone())
print(c.fetchone())
print("")

print('G6-P Dehydrogenase gene')
print(c.fetchone())
print(c.fetchone())
print(c.fetchone())
print("")
print('Phosphoglucomutase gene')
print(c.fetchone())
print(c.fetchone())
print(c.fetchone())
print("")
print('Transaldolase gene')
print(c.fetchone())
print(c.fetchone())
print(c.fetchone())

# Pathway table

In [ ]:
c.execute("""CREATE TABLE pathway (id INT, 
    name TEXT, 
    description TEXT);""")

#Insert Glycolysis pathway
c.execute("""INSERT INTO pathway (id,
       name,
       description)
VALUES('1',
'Glycolysis',
'Oxidative breakdown of one glucose into two pyruvate with the capture of some energy as ATP and NADH');""")


#Insert TCA pathway
c.execute("""INSERT INTO pathway (id,
       name,
       description)
VALUES('2',
'TCA Cycle',
'Form a six-carbon molecule that is used to produce NADH, carbon dioxide, ATP and FADH2');""")



#Insert Pentose-phosphate pathway
c.execute("""INSERT INTO pathway (id,
       name,
       description)
VALUES('3',
'Pentose-Phosphate Pathway',
'Generates NADPH and pentoses (5-carbon sugars) as well as ribose 5-phosphate, precursor for the synthesis of nucleotides');""")

conn.commit
c.execute("SELECT * from pathway;")
print(c.fetchone())
print(c.fetchone())
print(c.fetchone())

# Enzyme table

## Create enzyme table

In [ ]:
c.execute("""CREATE TABLE enzyme (id INT, 
    name TEXT, 
    function TEXT, 
    enzyme_commission_number TEXT);""")

## Insert into enzyme table

In [ ]:
# Hexokinase
c.execute("""INSERT INTO enzyme (id,
        name,
       function,
       enzyme_commission_number)
VALUES('1',
'Hexokinase',
'Form a six-carbon molecule that is used to produce NADH, carbon dioxide, ATP and FADH2',
'2.7.1.1');""")


#Glucokinase
c.execute("""INSERT INTO enzyme (id,
       name,
       function,
       enzyme_commission_number)
VALUES('2',
'Escherichia coli (strain K12) Glucokinase',
'Facilitates phosphorylation of glucose to glucose-6-phosphate',
'2.7.1.2');""")


#Phosphofructokinase
c.execute("""INSERT INTO enzyme (id,
       name,
       function,
       enzyme_commission_number)
VALUES('3',
'Phosphofructokinase',
'Convert Fructose-6-phosphate to Fructose-1,6-bisphosphate',
'2.7.1.11');""")


#Phosphofructokinase of E.coli
c.execute("""INSERT INTO enzyme (id,
       name,
       function,
       enzyme_commission_number)
VALUES('4',
'1-Phosphofructokinase',
'Convert Fructose-6-phosphate to Fructose-1,6-bisphosphate',
'2.7.1.56');""")


#Enolase
c.execute("""INSERT INTO enzyme (id,
       name,
       function,
       enzyme_commission_number)
VALUES('5',
'Enolase',
'Convert 2-phosphoglycerate (2-PG) to phosphoenolpyruvate (PEP)',
'4.2.1.11');""")


#Pyruvate kinase
c.execute("""INSERT INTO enzyme (id,
       name,
       function,
       enzyme_commission_number)
VALUES('6',
'Pyruvate kinase',
'Convert 2-phosphoglycerate (2-PG) to phosphoenolpyruvate (PEP)',
'2.7.1.40');""")


#Aconitase
c.execute("""INSERT INTO enzyme (id,
       name,
       function,
       enzyme_commission_number)
VALUES('7',
'Aconitase',
'Convert citrate to isocitrate',
'4.2.1.3');""")



#Malate dehydrogenase
c.execute("""INSERT INTO enzyme (id,
       name,
       function,
       enzyme_commission_number)
VALUES('8',
'Malate dehydrogenase',
'Catalyzes the reversible oxidation of malate to oxaloacetate',
'1.1.1.37');""")



#Isocitrate dehydrogenase 
c.execute("""INSERT INTO enzyme (id,
       name,
       function,
       enzyme_commission_number)
VALUES('9',
'Isocitrate dehydrogenase ',
'catalyzes the oxidative decarboxylation of isocitrate',
'1.1.1.42');""")



#Pyruvate carboxylase
c.execute("""INSERT INTO enzyme (id,
       name,
       function,
       enzyme_commission_number)
VALUES('10',
'Pyruvate carboxylase',
'carboxylation of pyruvate to form oxaloacetate',
'6.4.1.1');""")


#Phosphoenolpyruvate carboxylase(ppc)
c.execute("""INSERT INTO enzyme (id,
       name,
       function,
       enzyme_commission_number)
VALUES('11',
'Phosphoenolpyruvate carboxylase',
'Forms oxaloacetate, a four-carbon dicarboxylic acid source for the tricarboxylic acid cycle',
'4.1.1.31');""")



#G-6P dehyrogenase
c.execute("""INSERT INTO enzyme (id,
       name,
       function,
       enzyme_commission_number)
VALUES('12',
'Glucose-6-phosphate 1-dehydrogenase',
'Convert Glucose-6-Phosphate to 6-phosphogluconate',
'1.1.1.49');""")


#Phosphoglucomutase
c.execute("""INSERT INTO enzyme (id,
       name,
       function,
       enzyme_commission_number)
VALUES('13',
'Phosphoglucomutase',
'Facilitates the interconversion of glucose 1-phosphate and glucose 6-phosphate',
'5.4.2.2');""")



#Transaldolase
c.execute("""INSERT INTO enzyme (id,
       name,
       function,
       enzyme_commission_number)
VALUES('13',
'Transaldolase',
'Links the pentose phosphate pathway to glycolysis',
'2.2.1.2');""")



#Ribose 5-phosphate isomerase
c.execute("""INSERT INTO enzyme (id,
       name,
       function,
       enzyme_commission_number)
VALUES('14',
'Ribose 5-phosphate isomerase',
'Links the pentose phosphate pathway to glycolysis',
'5.3.1.6');""")

conn.commit
c.execute("SELECT * from enzyme;")
print(c.fetchone())
print(c.fetchone())
print(c.fetchone())
print(c.fetchone())
print(c.fetchone())
print(c.fetchone())
print(c.fetchone())
print(c.fetchone())
print(c.fetchone())
print(c.fetchone())

# Fetching the data 
Most of the data such as the chromosome which the gene is on is fecthed using the tool below. Putting out how do I get every single gene in separate cells will be too long and it lags my notebook(tried doing it in another notebook, loading the notebook itself and and running the cells take way too long). Thus I only put what I did for the Hexokinase gene below. Just changing what is the data I want in the term= argument changes the information fected.

In [ ]:
Entrez.email = 'yinchen202009@berkeley.edu'
handle = Entrez.esearch(db= 'nucleotide', 
                        term = 'Homo sapiens[ORGN] hexokinase', 
                       sort = 'relevance',
                       idtype = 'acc')

for i in Entrez.read(handle)['IdList']:
    handle = Entrez.efetch(db = 'nucleotide', id = i, rettype = 'gb', retmode= 'text')
    print(handle.read())